@import "../../utils/shared.scss";
html {
  scroll-behavior: smooth;
  background-color: $main-background;
}
div.App {
  background-color: $main-background;
  max-width: 1920px;
  margin: auto;
}
@media screen and (max-width: 769px) {
  .mf-cursor {
    display: none;
  }
}
html {
  .-media {
    cursor: none;
  }
}
